#torch==1.13.1
#torchvision==0.14.1
transformers==4.41.2
diffusers==0.29.1
accelerate
huggingface-hub
ninja
xatlas
imageio
matplotlib
pyrallis
loguru
tqdm
einops
opencv-python
numpy==1.23.0
charset-normalizer==3.1.0
imageio-ffmpeg==0.5.1
